# Python stuff
__pycache__/
*.py[cod]
*.egg-info

# Environment
venv/
env/
.env

# OSX files
.DS_store

# static
node_modules/
.jshintrc
.sass-cache
src/assets/_build

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov

# Django stuff
*.log
*.pot

# Vagrant
.vagrant/
.vagrant
*.box

# Sphinx documentation
docs/*build/

# Misc
sandbox/
.~*
*.db

# Static and media
static/*
media/*

# Allow EMPTY files as placeholders
!EMPTY
